/*
This 'Composition' stylesheet defines the main layout, by providing "skeletons" for arranging elements consistently.
>> Read more: https://cube.fyi/composition.html
*/

/** GRID LAYOUT **/
/* >> Inspired by Kevin Powell: https://youtu.be/c13gpBrnGEw?si=5LKf1b92VNG9ePHB */

.content-width,
.full-width {
  --padding-inline: var(--space-s-m);
  --content-max-width: 1184px;

  display: grid;
  grid-template-columns:
    [full-start] minmax(var(--padding-inline), 1fr)
    [content-start] min(
      100% - var(--padding-inline) * 2,
      var(--content-max-width)
    )
    [content-end]
    minmax(var(--padding-inline), 1fr) [full-end];
}

.content-width > :not(.full-width),
.full-width > :not(.full-width) {
  grid-column: content;
}

.content-width > .full-width {
  grid-column: full;
}

/** LAYOUTS **/
/* Flex */
.flex {
  display: flex;
}

/* Cluster */
.cluster {
  display: flex;
  flex-wrap: wrap;
}

/* Stack */
.stack-xxs,
.stack-xs,
.stack-s,
.stack-m,
.stack-l,
.stack-xl,
.stack-xxl {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack-xxs > * + * {
  margin-block-start: var(--space-xxs);
}
.stack-xs > * + * {
  margin-block-start: var(--space-xs);
}
.stack-s > * + * {
  margin-block-start: var(--space-s);
}
.stack-m > * + * {
  margin-block-start: var(--space-m);
}
.stack-l > * + * {
  margin-block-start: var(--space-xxs);
}
.stack-xl > * + * {
  margin-block-start: var(--space-xxs);
}
.stack-xxl > * + * {
  margin-block-start: var(--space-xxs);
}

/* Switcher */
.switcher {
  display: flex;
  flex-wrap: wrap;
  --switcher-gap: var(--space-l);
  gap: var(--switcher-gap);
}

.switcher > * {
  flex-grow: 1;
  flex-basis: calc((60ch - 100%) * 999);
}

/* Center */
.center {
  box-sizing: content-box;
  margin-inline: auto;
  text-align: center;
  max-inline-size: var(--measure-max);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Sidebar */
.with-sidebar {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-xl);
}

.with-sidebar > div {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: 66%;
} /* Not sidebar */

.with-sidebar > aside {
  flex-basis: 18rem;
  flex-grow: 1;
  position: sticky;
  top: var(--space-s);
  align-self: start;
} /* Sidebar */
